// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
// @use "./element/dark.scss";
:root {
  // --ep-color-primary: red;
  --ep-header-padding: 0 20px;
  --ep-header-height: 59px;
  --ep-menu-width: 200px;

  --ep-footer-padding: 0 20px;
  --ep-footer-height: 30px;

  --ep-main-padding: 20px;
}

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
  text-decoration: none;
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}
