// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
// @use "./element/dark.scss";
:root {
  // --rh-color-primary: red;
  --rh-header-padding: 0 20px;
  --rh-header-height: 59px;
  --rh-menu-width: 200px;

  --rh-footer-padding: 0 20px;
  --rh-footer-height: 30px;

  --rh-main-padding: 20px;

  --rh-color-shadow: rgba(0,21,41,.08);
}

  /* 自定义深色背景颜色 */
html.dark {
  --rh-color-shadow: rgba(0, 0, 0, .72)
}

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--rh-color-primary);
  text-decoration: none;
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--rh-color-primary-light-9);
  color: var(--rh-color-primary);
}

.rh-divider--horizontal{
  margin: 20px 0;
}
